<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}BasePage{% endblock page_title %} - Monopoly Best</title>
</head>
<body>
    <div class="header">
        <h1>Monopoly Best</h1>
        <a href="{% url "index" %}">Home page</a >- - - -
        <a href="{% url "top_players" %}">Top players</a> - - - -
        <a href="{% url "recent_games" %}">Recent Games</a> - - - -
        <a href="{% url "support_page" %}">Support</a> __________________________________
        {% if request.user.pk %}
        <a href="{% url "user_page" request.user.pk %}">{{request.user}}</a> - 
        <a href="{% url "logout" %}">Not you? Log out!</a>
        {% else %}
        <a href="{% url "login" %}">Login</a>
        <a href="{% url "register" %}">Register</a>
        {% endif %}
        <hr>
    </div>

    <h3>{% block title %}{% endblock title %}</h3>
    {% block contents %}{% endblock contents %}
</body>