{% extends 'user_profile/base.html' %}

{% block page_title %}Register{% endblock page_title %}
{% block title %}Register Page{% endblock title %}

{% block contents %}

{% if not user.username %}
<form action="{% url "register" %}" method="POST">{% csrf_token %}
    <div>
        <label for="username">Username</label>
        <input name="username" id="username" value="" />
        <label for="password">Password</label>
        <input name="password" id="password" value="" />
        {% if errors %}<p><strong>{{ errors }}</strong></p>{% endif %}
    </div>
        <button>Register!</button>
</form>
{% else %}
<h3>Congratulations!</h3>
You successfully registered in as {{user.username}}
{% endif %}

{% endblock contents %}

